@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default
 }
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632EE3;
  
  --color-secondary: teal;
}
.btn-gradient {
  background: linear-gradient(to right, #632EE3, #9F62F2);
  color: white;
  border: none;
  transition: opacity 0.3s ease;
}

.btn-gradient:hover {
  opacity: 0.9;
}